/* Site Fonts */
@font-face {
    font-family: "DIN-Bold";
    src: url("./assets/fonts/DINB____.TTF") format("truetype");
}

@font-face {
    font-family: "DIN-Regular";
    src: url("./assets/fonts/DINR____.TTF") format("truetype");
}

@font-face {
    font-family: "DIN-Medium";
    src: url("./assets/fonts/DIN Medium.ttf") format("truetype");
}




/* Global App Parameters */
.App {
    background-color: #0F1120;
    height: 100%;
}

.Page-Background-Container {
    min-height: calc(100vh - 160px);
    display: flex;
    width: 100vw;
    justify-content: center;
}

.Page-Content-Container-1 {
    width: 1100px;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
}




/* TO BE REMOVED */
/* Used for V1 release, temporary page */
.Temp-Landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

/* Used for V1 release, temporary page */
.Temp-Header {
    font-family: DIN-Bold;
    color: #4c4e52;
}

/* Used for V1 release, temporary page */
.Temp-Body {
    font-family: DIN-Regular;
    color: #4c4e52;
}

/* Used for V1 release, temporary page */
.Icons-Box {
    display: flex;
    margin-top: 20px;
}


/* Used for V1 release, temporary page */
.Icons {
    margin: 10px;
    color: #4c4e52;
}




/* Text Classes */
.H1-Header {
    font-family: DIN-Bold;
    font-size: 60px;
    color: #FFFFFF;
}

.H3-Header {
    font-family: DIN-Regular;
    font-size: 40px;
    color: #FFFFFF;
}

.H4-Header {
    font-family: DIN-Regular;
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 14px;
}

.Body-Text {
    font-family: DIN-Regular;
    font-size: 18px;
    color: #FFFFFF;
    list-style: disc;
}

.Body-Text-Bold {
    font-family: DIN-Bold;
    font-size: 18px;
    color: #FFFFFF;
}

.Body-Text-Right {
    font-family: DIN-Regular;
    justify-content: right;
    font-size: 18px;
    color: #FFFFFF;
}




/* Component Classes */
.Navlinks-Box {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.Navlinks {
    margin-left: 30px;
    font-family: DIN-Regular;
    color: #FFFFFF;
    font-size: 20px;
}

.Navlinks.active {
    color: #FFE443;
}

.Navlinks:hover {
    color: #FFE443;
}

.Navbar-Brand {
    font-family: DIN-Medium;
    color: #FFFFFF;
    font-size: 30px;
    margin-left: 20px;
}

.Navbar-Brand.active {
    color: #FFE443;
}

.Navbar-Brand:hover {
    color: #FFE443;
}

.Navbar-Visual {
    /* background-color: #FFCD45; */
    height: 80px;
}

.Footer-Visual {
    /* background-color: #FFCD45; */
    height: 80px;
}

.Footer-Text {
    font-family: DIN-Regular;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 20px;
    display: inline;
}

.Footer-Text-Box {
    display: flex;
    justify-content: end;
    margin-left: 20px;
}

.Footer-Flags-Box {
    display: flex;
    justify-content: end;
}




/* Homepage Classes */
.Homepage-Intro-Text {
    text-align: right;
    font-family: DIN-Bold;
    font-size: 60px;
    color: #FFFFFF;
}

.Homepage-About-Text {
    text-align: left;
    font-family: DIN-Regular;
    font-size: 40px;
    color: #FFFFFF
}

.Homepage-About-Text-Animated {
    text-align: left;
    font-family: DIN-Regular;
    font-size: 40px;
    color: #FFE443
}

.Homepage-Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
    height: calc(100vh - 160px);
}

.Homepage-Container>.Vertical-Line-1 {
    border-left: 5px solid #FFFFFF;
    height: 220px;
    margin-left: 80px;
    margin-right: 20px;
    transform: rotate(20deg);
    transform-origin: left;
}

.Homepage-Container>.Vertical-Line-2 {
    border-left: 5px solid #FFFFFF;
    height: 220px;
    margin-left: 20px;
    margin-right: 80px;
    transform: rotate(20deg);
    transform-origin: left;
}

.Homepage-Container>*:not(.Vertical-Line-1, .Vertical-Line-2) {
    flex: 1;
    text-align: justify;
}




/* Invalid Page Classes */
.Invalid-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 160px);
}




/* Contact Page Classes */
.Contact-Container-Flex {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.Contact-Column {
    width: 45%;
}

.Contact-Icons-Box {
    display: flex;
    justify-content: flex-start;
}

.Contact-Icons {
    color: #FFE443;
    margin: 10px;
}

.Contact-Top-Space {
    margin-top: 20px;
}

.Contact-Header-Top-Space {
    margin-top: 10px;
}

.Contact-Submit-Button-Positioning {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.Phone-Modal-Header {
    font-family: DIN-Bold;
    color: #0F1120;
}

.Phone-Modal-Body {
    font-family: DIN-Regular;
    color: #0F1120;
}




/* Resume Component Classes */
.Resume-Title-Icon-Container {
    display: flex;
}

.Resume-Download-Icon {
    color: #FFE443;
}

.Resume-Body-Container {
    display: flex;
    justify-content: space-between;
}

.Resume-Main-Column {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.Resume-Secondary-Column {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.Resume-Header-Container {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
}

.Resume-Header-Title-Container {
    display: flex;
}

.Resume-List-Margin {
    margin-bottom: 30px;
}

.Resume-Text-Divider {
    border-left: 2px solid #FFFFFF;
    height: 20px;
    margin-left: 12px;
    margin-right: 12px;
    justify-content: center;
}

.Resume-Body-Text {
    font-family: DIN-Regular;
    font-size: 14px;
    color: #FFFFFF;
    list-style: disc;
}

.Resume-Body-Text-Bold {
    font-family: DIN-Bold;
    font-size: 14px;
    color: #FFFFFF;
}

.Resume-Body-Text-Right {
    font-family: DIN-Regular;
    justify-content: right;
    font-size: 14px;
    color: #FFFFFF;
}
