@font-face {
    font-family: "DIN-Bold";
    src: url("./assets/fonts/DINB____.TTF") format("truetype");
}

@font-face {
    font-family: "DIN-Regular";
    src: url("./assets/fonts/DINR____.TTF") format("truetype");
}

@font-face {
    font-family: "DIN-Medium";
    src: url("./assets/fonts/DIN Medium.ttf") format("truetype");
}

.App {
    background-color: #0F1120;
    height: calc(100% - 80px - 80px);
}

.Temp-Landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.Temp-Header {
    font-family: DIN-Bold;
    color: #4c4e52;
}

.Temp-Body {
    font-family: DIN-Regular;
    color: #4c4e52;
}

.Icons-Box {
    display: flex;
    margin-top: 20px;
}

.Navlinks-Box {
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.Icons {
    margin: 10px;
    color: #4c4e52;
}

.Navlinks {
    margin-left: 30px;
    font-family: DIN-Regular;
    color: #FFFFFF;
    font-size: 20px;

}

.Navbar-Brand {
    font-family: DIN-Medium;
    color: #FFFFFF;
    font-size: 30px;
    margin-left: 20px;
}

.Navbar-Visual {
    /* background-color: #FFCD45; */
    height: 80px;
}

.Footer-Visual {
    /* background-color: #FFCD45; */
    height: 80px;
}

.Footer-Text {
    font-family: DIN-Regular;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 20px;
}

.Homepage-Intro-Text {
    text-align: right;
    font-family: DIN-Bold;
    font-size: 60px;
    color: #FFFFFF;
}

.Homepage-About-Text {
    text-align: left;
    font-family: DIN-Regular;
    font-size: 40px;
    color: #FFFFFF
}

.Homepage-About-Text-Animated {
    text-align: left;
    font-family: DIN-Regular;
    font-size: 40px;
    color: #FFE443
}

.Homepage-Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
    height: 100vh
}

.Homepage-Container>.Vertical-Line-1 {
    border-left: 5px solid #FFFFFF;
    height: 220px;
    margin-left: 80px;
    margin-right: 20px;
    transform: rotate(20deg);
    transform-origin: left;
}

.Homepage-Container>.Vertical-Line-2 {
    border-left: 5px solid #FFFFFF;
    height: 220px;
    margin-left: 20px;
    margin-right: 80px;
    transform: rotate(20deg);
    transform-origin: left;
}

.Homepage-Container>*:not(.Vertical-Line-1, .Vertical-Line-2) {
    flex: 1;
    text-align: justify;
}
