body {
    background-color: #0F1120;
    color: #FFFFFF;
    min-height: 100vh;
    min-height: 100svh;
    overflow: auto;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    color: #FFFFFF;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
